/myplot1.png
/Miraż dolny graf.png
/Miraż górny graf.png
/height_map.png
/fig6TemperatureMap.exr
/fig6.png
/fig1TemperatureMap.exr
/fig1.png
/dynamic_two_point_temperature_texture.png
/satellite_image.png
